/**
 * Header style
 *
 */
.header {
  margin-bottom: $grid-gutter-width;
}

@import "components.header__top";
@import "components.header__main";
@import "components.header__navbar";
@import "components.header__info";

/**
 * Animated header elements transitions and defualt states
 */
.sticky-header {
  transform: translateZ(0); // chrome bug fix: http://stackoverflow.com/a/15203880/1938970
}
.sticky-header-clone {
  display: none;
}

@media (min-width: $screen-md-min) {
  .header-main {
    transition: padding .18s ease;
  }
  .logo-img {
    transition: height .18s ease, width .18s ease;
    height: 52px;
  }
  .search-label {
    transition: opacity .18s ease;
    opacity: 1;
  }

  /**
   * Animated header elements on header fixed
   */
  .sticky-header-clone {
    display: block;
    z-index: -99999;
    visibility: hidden;
    position: absolute;
  }

  .sticky-header-on {

    .sticky-header {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: $zindex-navbar;
    }

    .sticky-header-clone {
      // display: block;
      position: static;
    }

    .header-main {
      padding: 0;

      .search {
        margin-top: 2px;
      }
    }
    .logo-title {
      margin: 10px 0;
    }

    .logo-img {
      height: 36px;
    }
    .search-label {
      opacity: 0;
      margin: -5px 0 0;
    }
  }
}
