/**
 * Modals (little tweaks to Bootstrap defaults)
 *
 */
.modal-content {
  // for wullwidth images (needs to be nested within this class)
  .modal-banner {
    display: block;
    margin-right: -$modal-inner-padding;
    margin-left: -$modal-inner-padding;
  }
}

.modal-no-title {
  // make the header overlap the body, it needs to be clickable
  .modal-header {
    position: relative;
    z-index: 1;
  }

  // shift above a bit the body
  .modal-body {
    margin-top: -$modal-inner-padding * 2;
  }
}

// reset negative margines on boxes inside modals
.modal-body {
  .box {
    margin: $box-gutter 0;
  }
}

// img.modal-remote-loading(src='images/ajax-loader.gif', width='32', height='32')
.modal-remote-loading {
  margin: 10% auto;
  display: block;
}