/**
 * Sliders
 * we use slick.js jQuery plugin
 *
 */
$slider-arrow-size: 18px;
$slider-arrow-bg-hover: desaturate(lighten($brand-primary, 20%), 30%);

.slick-slider {
  margin-bottom: 0;
}

// hide on load, display them only when the slick slider is ready through js
#header-slider-main,
#header-slider-nav-wrap {
  display: none;
}

#header-slider {
  position: relative;

  /// slider loader placeholder
  &-placeholder {
    padding-bottom: 22.5%; // the slider proportion

    .stretcher {
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  // Custom indicators / pager
  &-nav {
    height: 100%;
    float: right;
    margin: 0 $navbar-height 0 0;
    padding: 0;
    text-transform: uppercase;
    max-width: 300px;
    width: 30%;

    li {
      display: block;
      position: relative;
      height: 25%;
      margin: 0;
      padding: 0 $grid-gutter-width;
      list-style: none;
      border-bottom: 1px solid #ccc;
      background: #fff;
      background: rgba(255,255,255,.9);
      cursor: pointer;

      &:nth-child(4n+4),
      &:last-child {
        border-bottom: 0;
      }

      // active state
      &.active {
        background: $brand-primary;

        a {
          color: #fff;
        }

        .triangle {
          display: block;
        }
      }

      // hover state
      &:hover {
        background: $slider-arrow-bg-hover;
        color: #fff;
        .triangle:after {
          border-right-color: $slider-arrow-bg-hover;
        }
      }

      // link
      .slider-nav-link {
        display: table;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        color: $text-color;

        &:focus,
        &:active,
        &:hover {
          text-decoration: none;
        }
      }

      // inner link wrap
      .slider-nav-inner {
        display: table-cell;
        vertical-align: middle;
      }

      // title
      h4 {
        margin: 5px 0 0;
        font-size: 130%;

        @media (min-width: $screen-lg-min) {
          font-size: 150%;
        }
      }

      // subtitle
      h5 {
        margin: 0;
        font-weight: 200;
        font-size: 130%;

        @media (min-width: $screen-lg-min) {
          font-size: 150%;
        }
      }
    }

    // triangle
    .triangle {
      display: none;
      position: absolute;
      top: 0;
      left: -3%;
      width: 0;
      height: 100%;
      padding-right: 4%;
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 0;
        margin-top: -300px;
        border-top: 300px solid transparent;
        border-bottom: 300px solid transparent;
        border-right: 44px solid $brand-primary;
      }
    }

    // wrapper around custom pager
    &-wrap {
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;

      .container {
        position: relative;
        height: 100%;
      }
    }
  }
}
