/**
 * Special media object for teams list
 *
 */
.team {

  &-list {
    margin: -$box-title--margin-bottom 0 0;
    padding: 0;
    background: $box-bg;

    @media (max-width: $screen-xs-max) {
      padding: $box-gutter / 2 0;
    }

    &-item {
      list-style: none;
      text-transform: uppercase;
      color: $text-color;
      height: $box-list-item--height;
      line-height: $box-list-item--height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: $text-color;
        background: darken($box-bg, 0.7%);
      }

      @media (min-width: $grid-float-breakpoint) {
        padding: $box-gutter / 4 0;
      }

      .pull-left {
        padding-right: $box-gutter / 2;
      }
    }
  }
}