/**
 * Typeahead
 *
 * Custom style
 */
$typeahead-gutter: 5px;
$typeahead__divider-border: 1px solid #eee;

.tt {

  &-input {
    background: transparent;
  }

  // custom class added through js on asyncrequest
  &-loading {
    background: url('../images/spinner.gif') no-repeat 99% center;
    background-position-x: calc(100% - 10px);
    background-size: 20px;

    .svg & {
      background: url('../images/spinner.svg') no-repeat 99% center;
      background-position-x: calc(100% - 10px);
      background-size: 20px;
    }
  }

  &-hint {
    color: darken($input-bg, 25%);
  }

  &-menu {
    // max-height: 450px;
    max-height: 90vh;
    overflow-y: auto;
    width: 100%;
    padding: ($typeahead-gutter * 2) 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 5px 5px 20px rgba(0,0,0,.1);
    text-transform: uppercase;
  }

  &-dataset {}

  &-header {
    padding: 0 $grid-gutter-width $typeahead-gutter;
    border-bottom: $typeahead__divider-border;
    color: $brand-primary;
    text-transform: uppercase;
    font-size: $font-size-base * 1.2;
    font-family: $headings-font-family;
  }

  &-suggestion {
    display: block;
    padding: $typeahead-gutter $grid-gutter-width;
    font-size: $font-size-base;
    color: $text-color;

    &.tt-cursor,
    &:hover {
      color: #fff;
      background-color: $brand-primary;
      cursor: pointer;
      text-decoration: none;

      // custom class
      .tt__subhint {
        color: $input-bg;
      }
    }

  }

  // custom class
  &__subhint {
    color: darken($input-bg, 25%);
    font-size: $font-size-base - 2px;
  }

  // custom class
  &__date {
    display: block;
  }

  // js generated class
  &-dataset-more {
    padding-top: $typeahead-gutter;
    margin-top: $typeahead-gutter * 2;
    border-top: $typeahead__divider-border;
    text-transform: none;

    // hide dummy suggestion
    .tt-suggestion {
      display: none;
    }

    // custom class
    .tt__footer {
      display: block;
      padding: $typeahead-gutter $grid-gutter-width;
    }
  }
}
