/**
 * Header info, it display some catchy datas basically
 *
 */
.header-info {
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: $grid-gutter-width / 4 0;

  .icon {
    opacity: .7;
    padding-right: 10px;
  }

  h4 {
    font-size: $font-size-base;
    font-family: $font-family-base;
    font-weight: normal;
  }
}
