/**
 * Notifications
 *
 */

[data-notify].alert {
  background: $brand-primary;
  border-color: $brand-primary;
  box-shadow: 2px 6px 10px rgba(0,0,0,.36), 5px 10px 20px rgba(0,0,0,.18);
  color: #fff;
  max-width: 330px;
  padding: 10px 30px;

  @media (max-width: $screen-xs) {
    padding: 7px 20px;
    left: 20px;
    width: auto;
  }

  .close {
    color: #fefefe;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutUp {
  animation-name: zoomOutUp;
}
