/**
 * Header Top bar style
 *
 */
.header-top {
  position: relative;
  z-index: $zindex-navbar + 20;
  padding: $grid-gutter-width / 4 0;
  background: $body-bg;
  font-family: $headings-font-family;

  .wrap {
    float: left;

    &-verified {
      max-width: 50%;
    }
    &-mcafee {
      padding-right: 13px;
      max-width: 25%;
      img {
        max-height: 23px;
        width: auto;
      }
    }
    &-fb {
      margin-top: 2px;
      max-width: 25%;
    }
  }

  @media (max-width: $screen-xs-max) {
    .wrap {
      margin-top: 4px;
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: $grid-gutter-width / 4 0;
    font-size: 13px;

    .telephone {
      margin-top: -4px;
    }
  }

  .contact-info {
    text-align: right;
    @media (min-width: $screen-sm-min) {
      margin-top: 3px;
    }
  }

  .faq-link {
    padding-left: $grid-gutter-width;
  }

  .telephone {
    font-weight: bold;
  }
}
