/**
 * Match: Box variation for match page
 *
 */
.match {
  /**
   * Slight variation to box default style
   */
  &.box-header {
    background: $box-bg;
    padding-bottom: $box-gutter / 2;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 0;
    }
  }

  .box-header {
    &--title {
      margin-top: $box-gutter / 2;
      font-size: 20px;
    }

    &--avatar {
      margin-top: -100px
    }
  }

  &.box {
    padding-top: 0;

    @media (max-width: $screen-sm-max) {
      padding: $box-gutter;
      margin-bottom: 0;
      background: $box-bg;
    }
  }

  /**
   * Details block
   */
  &--details {
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px 0;
    border-color: #eee;
    padding: $box-gutter / 2 0;
    margin-bottom: $box-gutter / 2;

    /**
     * Details info block
     */
    .info {
      &-date {
        font-weight: bold;
      }

      &-place {
      }

      &-notes {
        color: $brand-primary;
        font-size: 11px;
      }
    }

    /**
     * Details tickets block
     */
    .tickets {
      text-align: right;
      @media (max-width: $screen-sm-max) {
        margin-top: 5px;
      }

      &-available {
        display: block;
        font-size: 14px;
      }

      &-from {
        font-size: 12px;
      }

      &-price {
        display: inline;
        color: $brand-success;
        font-size: 24px;
        font-weight: 200;
      }
    }
  }

  /**
   * Notes block
   */
  &--notes {
    @media (max-width: $screen-sm-max) {
      padding-bottom: $grid-gutter-width / 2;
    }
  }
}
