/**
 * Header main (logo, search)
 *
 */
.header-middle,
.header-main {
  position: relative;
  z-index: $zindex-navbar + 10;
  transform: translateZ(0); // chrome bug fix: http://stackoverflow.com/a/15203880/1938970
}

.header-main {
  background: #ffffff;

  .search-label {
    text-transform: uppercase;
    color: #999;
    font-size: 12px;
    margin: 3px 0 4px;
  }

  .logo {
    display: block;
    text-align: center;

    &-title {
      margin: 13.33333333px 0;
    }

    &-subtitle {
      margin: 0;
    }
  }

  @media (min-width: $screen-sm-min) {
    padding: ($grid-gutter-width / 2) 0;

    .search .icon {
      padding-right: 5px;
    }

    .twitter-typeahead {
      display: table-cell;
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
    }
  }

  @media (min-width: $screen-md-min) {
    .search {
      margin-top: 10px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .logo {
      max-width: 180px;
      margin: 0 auto;
      text-align: center;
    }

    .twitter-typeahead {
      width: 100%;
    }

    .search {
      margin: 0 -10px;
      background: #D91E00;
      padding: 10px 20px;
    }

    .form-control {
      padding-left: 50px;
      border: 0;
      background: #E4614C !important;
      color: #fffdfd;

      &::-moz-placeholder { color: #f1afa5; }
      &:-ms-input-placeholder { color: #f1afa5; }
      &::-webkit-input-placeholder { color: #f1afa5; }
    }

    .input-group {
      width: 100%;
    }

    .input-group-btn {
      z-index: 3;
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 100%;

     .btn {
        background: 0 0;
        padding: 10px 10px 10px 20px;
        border: 0;
      }
    }
  }
}
