/**
 * Bootstrap custom $variables
 * Override default values and then import them.
 *
 */
$icon-font-path: '../fonts/';
$breadcrumb-separator: \25B6;
$breadcrumb-color: #aaa;
$font-size-base: 13px;

// colors
$brand-primary: #D91E00; // red
$brand-success: #3db900; // green
$body-bg: #F4F4F4; // grey
$btn-default-bg: #707070;
$btn-default-border: #707070;
$btn-default-color: #fff;

// sizes
$grid-gutter-width: 20px;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$padding-base-horizontal: 18px;
$padding-large-horizontal: 18px;
$padding-large-vertical: 6px;
$padding-small-horizontal: 15px;
$padding-xs-horizontal: 8px;

// forms
$input-bg: #EAEAEA;
$input-color: #222;
$input-border: #EAEAEA;
$input-border-focus: darken($input-border, 5%);

// typography
$font-family-base: 'Open Sans', Helvetica, Arial, sans-serif;
$headings-font-family: 'Dosis', Helvetica, Arial, sans-serif;
$headings-font-weight: 600;

// navbar
$navbar-height: 48px;
$navbar-default-color: #fff;
$navbar-default-bg: $brand-primary;
$navbar-default-border: transparent;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fefefe;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 3.25%);
$navbar-default-link-active-color: #fefefe;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color: lighten($navbar-default-bg, 40%);
$navbar-default-link-disabled-bg: transparent;
$navbar-default-toggle-hover-bg: #fefefe;
$navbar-default-toggle-icon-bar-bg: #222;
$navbar-default-toggle-border-color: transparent;
$caret-width-base: 3px;

// modals
$modal-inner-padding: $grid-gutter-width;
$modal-title-padding: $grid-gutter-width;
$modal-header-border-color: transparent;
$modal-footer-border-color: transparent;

// pagination
$pagination-color: #fff !default;
$pagination-bg: #b3b3b3 !default;
$pagination-border: #b3b3b3 !default;
$pagination-hover-color: #fff !default;
$pagination-hover-bg: desaturate(lighten($brand-primary, 20%), 40%) !default;
$pagination-hover-border: $pagination-hover-bg !default;
$pagination-active-color: #fff !default;
$pagination-active-bg: $brand-primary !default;
$pagination-active-border: $brand-primary !default;
$pagination-disabled-color: #ccc !default;
$pagination-disabled-bg: lighten($pagination-bg, 5%) !default;
$pagination-disabled-border: #ddd !default;

$breadcrumb-separator: "►";

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";


/**
 * LiveFootballTickets $variables (theme indipendent)
 *
 */
$box-bg: #fff;
$box-bg-secondary: darken($box-bg, 1%); // #FCFCFC
$box-gutter: $grid-gutter-width;
$box-list-item--height: 42px;
$box-title--margin-bottom: $box-gutter / 2;
$ticket-row-min-width: 70px;
