body {
  overflow-x: hidden;
}

/**
 * Bootstrap slight modifications
 *
 */
.btn {
  text-transform: uppercase;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;

  &-lg {
    font-size: 16px;
  }
}

/**
 * Highlight style
 *
 */
a.highlight {
  color: $text-color;
  &:hover {
    color: $text-color;
  }
}

.highlight {
  font-weight: bold;

  &.highlight-md {
    font-size: 15px;
  }
  &.highlight-lg {
    font-size: 18px;
  }
}

/**
 * Slightly change all form inputs
 */
.form-control {
  font-family: $headings-font-family;
  text-transform: uppercase;

  .has-error & {
    background: desaturate(lighten($brand-danger, 35%), 30%);
  }
}

.control-label.required:after {
  content: "*";
  color: $brand-danger;
  padding-left: 5px;
  margin-right: -5px;
  font-size: 10px;
}


/**
 * ALl the checkmarks are green!
 */
.icon-checkmark {
  color: $brand-success;
}

/**
 * More spacing in long texts
 */
.readmore p {
  line-height: 1.8; // $line-height-base * 1.2;
}

/**
 * Breath: vertical spacing utilities
 */
.breath {
  .form-group & {
    margin: 7px 0;
  }
}

.breath-xs {
  margin-top: $grid-gutter-width / 4;
  margin-bottom: $grid-gutter-width / 4;

  &-top {
    margin-top: $grid-gutter-width / 4;
  }
  &-bottom {
    margin-bottom: $grid-gutter-width / 4;
  }
}

.breath-sm {
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;

  &-top {
    margin-top: $grid-gutter-width / 2;
  }
  &-bottom {
    margin-bottom: $grid-gutter-width / 2;
  }
}

.breath-md {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  &-top {
    margin-top: $grid-gutter-width;
  }
  &-bottom {
    margin-bottom: $grid-gutter-width;
  }
}

.breath-lg {
  margin-top: $grid-gutter-width * 1.5;
  margin-bottom: $grid-gutter-width * 1.5;

  &-top {
    margin-top: $grid-gutter-width * 1.5;
  }
  &-bottom {
    margin-bottom: $grid-gutter-width * 1.5;
  }
}

.fullwidth {
  width: 100%;
}

.midpoint {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;

  &-inner {
    display: table-cell;
    vertical-align: middle;
  }
}