{% import 'layouts/macros.njk' as macros %}

<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>LiveFootballTickets</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"><!-- for github deploy only -->
    {# Place favicon.ico and apple-touch-icon.png in the root directory #}
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,600,700,800|Open+Sans:300italic,400italic,400,300,700" rel="stylesheet" type="text/css"/>

    <!-- build:css styles/vendor.css inline-->
    <!-- bower:css-->
    <link rel="stylesheet" href="/bower_components/slick.js/slick/slick.css" />
    <link rel="stylesheet" href="/bower_components/slick.js/slick/slick-theme.css" />
    <!-- endbower-->
    <!-- endbuild-->

    <!-- build:css styles/app.css inline-->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild-->

    {% include 'layouts/partials/IE-support.njk' %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
    {% endblock %}
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-XXXXX-X');ga('send','pageview');</script>
    <!-- Facebook js sdk-->
    <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)) return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1394403754167366";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
    <!-- Twitter js-->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <!-- build:js scripts/vendor.js inline-->
    <script src="scripts/vendor.modernizr.js"></script>

    <!-- bower:js-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/readmore/readmore.min.js"></script>
    <script src="/bower_components/slick.js/slick/slick.min.js"></script>
    <script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="/bower_components/remarkable-bootstrap-notify/bootstrap-notify.js"></script>
    <script src="/bower_components/corejs-typeahead/dist/typeahead.bundle.js"></script>
    <!-- endbower-->

    {# <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/afix.js"></script> #}
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    {# <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script> #}
    {# <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script> #}
    {# <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script> #}
    {# <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script> #}
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    {# <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script> #}

    <!-- injectAppCustomVendors:js-->
    <!-- endinject-->
    <!-- endbuild-->

    <!-- build:js scripts/app.js inline-->
    <!-- inject:js-->
    <script src="scripts/app.js"></script>
    <!-- endinject-->
    <!-- endbuild-->

    {% block body_end %}{% endblock %}
    <script>window.LTF_MOCKED_API = true</script>
  </body>
</html>
