{% extends 'layouts/default.njk' %}

{% block body_class %}page--league{% endblock %}

{% block slider %}{% endblock %}

{% block content %}

  {{ macros.breadcrumbs() }}

  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-header"><img src="images/header-club.jpg" class="box-header--img img-responsive"><img src="images/shirt-temp.png" class="box-header--avatar">
            <!-- @pargat-6 change sructure for fb button-->
            <div class="box-header--wrap">
              <h1 class="box-header--title">Premiership Tickets</h1>
              <div class="box-header--fblike">
                <div data-href="https://www.facebook.com/LiveFootballTickets" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" class="fb-like"></div>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="readmore">
              <p><strong>Premiership tickets.</strong>FC Barcelona is also known as Barça. The club is located in Barcelona (Catalonia), Spain. FC Barcelona has become one of the leading clubs in the world due to their support by Joan Camber who was the Club president. FC Barcelona is one of the world's wealthiest clubs in the world with profits of €291.1 million. Barcelona has been very successful holding up their position in the top division along with Athletic Bilbao and</p>
            </div>
          </div>
          <div class="box breath-md-top">
            <h2 class="text-primary">English premiership tickets</h2>
            <div class="row team-list">
              {{ macros.teamItem('Liverpool') }}
              {{ macros.teamItem('Arsenal') }}
              {{ macros.teamItem('Manchester') }}
              {{ macros.teamItem('Chelsea') }}
              {{ macros.teamItem('Manchester United') }}
              {{ macros.teamItem('Liverpool') }}
              {{ macros.teamItem('Arsenal') }}
              {{ macros.teamItem('Manchester') }}
              {{ macros.teamItem('Chelsea') }}
              {{ macros.teamItem('Manchester United') }}
            </div>
          </div>
          <div class="box breath-md-top">
            <h2 class="text-primary">Upcoming fixtures</h2>
            <ol class="event-list">
              {{ macros.eventItem('Mar', 9, 2015, 'FA Cup', 'Manchester United v Arsenal Tickets', '7.30 PM - Old Trafford - Manchester, United Kingdom', 'match.html') }}
              {{ macros.eventItem('Mar', 14, 2015, 'FA Cup', 'Arsenal v West Ham United Tickets', '7.30 PM - Emirates Stadium - London, United Kingdom', 'match.html') }}
              {{ macros.eventItem('Mar', 17, 2015, 'Champions League', 'AS Monaco v Arsenal Tickets', '7.30 PM - Louis II Stadium - Fontvieille, Monaco', 'match.html') }}
            </ol>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 breath-md-top">
          <div class="box">
            <h2 class="text-primary">About Premiership tickets</h2>
            <div class="box-content readmore">
              <p>Feel free to browse the FC Barcelona fixtures. We have FC Barcelona football tickets available for the Spanish La Liga: FC Barcelona vs Real Madrid tickets, FC Barcelona vs Valencia tickets, FC Barcelona vs Atletico Madrid tickets and other Barcelona tickets and La Liga tickets to watch football in Spain. Buy FC Barcelona tickets online through our safe and secure booking system. In addition, we have Arsenal tickets, Manchester United tickets, Liverpool tickets and Chelsea tickets available. All FC Barcelona ticket orders are guaranteed. Champions League Final tickets are selling fast.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 breath-md-top">
          <div class="box">
            <h3 class="text-primary">How to buy Premiership tickets</h3>
            <div class="box-content readmore">
              <p>The LiveFootballTickets.com reliable website has a real-time inventory of all the best Barcelona FC football tickets on sale for upcoming and match-day seats in a variety of prices and sections of the football stadium to watch Barca battle in the beautiful game of Spanish football!</p>
              <p>Buy Barcelona tickets for football including Barcelona v Real Madrid Tickets, Barcelona v Athletic Bilbao Tickets, Barcelona v Atletico Madrid Tickets, and Barcelona Champions League Tickets to watch top football players the likes of Luis Suarez, Neymar, and Lionel Messi in live action. All LiveFootballTickets.com Barcelona La Liga football ticket orders are guaranteed and sent to you on time by our reliable partners FedEx and Royal Mail Special Delivery.</p>
              <p>LiveFootballTickets.com has been serving thousand of satisfied Barcelona Fc fans for more than seven years and all Barcelona ticket orders come with a 150% guarantee.</p>
            </div>
          </div>
        </div>
      </div>
      {{ macros.block_introduction() }}
    </div>
    <div class="col-md-3 sidebar hidden-sm hidden-xs">
      <div class="row">
        <div class="col-sm-4 col-md-12 hidden-xs">
          {{ macros.box_whyBookWithUs(true) }}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-12">
          <div class="box box-secondary">
            <h3 class="text-primary">Other leagues</h3>
            <ul class="box-list box-list--links">
              <li><a href="league.html">Athletic De Bilbao tickets</a></li>
              <li><a href="league.html">Atletico Madrid tickets</a></li>
              <li><a href="league.html">Celta De Vigo tickets</a></li>
              <li><a href="league.html">Cordoba Cf tickets</a></li>
              <li><a href="league.html">Deportivo La Coruna tickets</a></li>
              <li><a href="league.html">Elche Cf tickets</a></li>
              <li><a href="league.html">Espanyol tickets</a></li>
              <li><a href="league.html">Fc Barcelona tickets</a></li>
              <li><a href="league.html">Fc Sevilla tickets</a></li>
              <li><a href="league.html">Getafe tickets</a></li>
              <li><a href="league.html">Granada Cf tickets</a></li>
              <li><a href="league.html">Levante Ud tickets</a></li>
              <li><a href="league.html">Malaga tickets</a></li>
              <li><a href="league.html">Rayo Vallecano tickets</a></li>
              <li><a href="league.html">Real Madrid tickets</a></li>
              <li><a href="league.html">Real Sociedad tickets</a></li>
              <li><a href="league.html">Sd Eibar tickets</a></li>
              <li><a href="league.html">Ud Almeria tickets</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
