{% extends 'layouts/default.njk' %}

{% block body_class %}page--match{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
  {{ macros.modal_map() }}
  {{ macros.modal_moreInfo() }}

  {{ macros.breadcrumbs() }}

  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="box-header match"><img src="images/header-match.jpg" class="box-header--img img-responsive"><img src="images/shirt-temp.png" class="box-header--avatar"><img src="images/shirt-temp.png" class="box-header--avatar">
        <h1 class="box-header--title">Atletico Madrid<small>v</small>FC Barcelona Tickets</h1>
        <h2 class="box-header--subtitle">Spanish League</h2>
      </div>
      <div class="box match">
        <div class="row match--details">
          <div class="col-sm-7 info">
            <time class="info-date">Sunday, 17 May 2015 0:00</time>
            <div class="info-place">Estadio Vincente Calderon, Madrid, Spain</div>
            <div class="info-notes">* Exact date and kickoff time are yet to be confirmed.</div>
          </div>
          <div class="col-sm-5 tickets"><strong class="tickets-available">26 Tickets available</strong><span class="tickets-from">From</span>
            <h5 class="tickets-price">£ 66.49</h5>
          </div>
        </div>
        <div class="row match--notes">
          <div class="col-sm-12">All the tickets are listed and priced<strong>approved specialist</strong>lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum animi suscipit aperiam cumque obcaecati, eum amet asperiores, illum culpa quo, excepturi soluta nam rerum nemo in! Fugiat iusto voluptate, necessitatibus.</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 hidden-xs">
      {{ macros.box_whyBookWithUs(false, false, false) }}
    </div>
  </div>
  <div class="row">
    <div id="col-tickets" class="col-md-7 col-md-push-5">
      <div class="box breath-md-top">
        <h2 class="text-primary">Available tickets</h2>
        <ol id="tickets-list" class="event-list">
          {{ macros.ticketItem('Cat 3 - section 508', 'all seats together', 10, 66.34) }}
          {{ macros.ticketItem('section 105', 'level 500', 10, 46.34) }}
          {{ macros.ticketItem('Cat 2 - shortside', 'main stand', 10, 61.34) }}
          {{ macros.ticketItem('Cat 3 - section 508', 'all seats together all seats together all seats together', 10, 66.34) }}
          {{ macros.ticketItem('section 105', 'level 500', 10, 46.34) }}
          {{ macros.ticketItem('Cat 2 - shortside', 'main stand', 10, 61.34) }}
          {{ macros.ticketItem('Cat 3 - section 508', 'all seats together', 10, 66.34) }}
          {{ macros.ticketItem('section 105', 'level 500', 10, 46.34) }}
          {{ macros.ticketItem('Cat 2 - shortside', 'main stand', 10, 61.34) }}
          {{ macros.ticketItem('Cat 3 - section 508', 'all seats together', 10, 66.34) }}
          {{ macros.ticketItem('section 105', 'level 500', 10, 46.34) }}
          {{ macros.ticketItem('Cat 2 - shortside', 'main stand', 10, 61.34) }}
          {{ macros.ticketItem('Cat 3 - section 508', 'all seats together', 10, 66.34) }}
          {{ macros.ticketItem('section 105', 'level 500', 10, 46.34) }}
          {{ macros.ticketItem('Cat 2 - shortside', 'main stand', 10, 61.34) }}
          {{ macros.ticketItem('Cat 3 - section 508', 'all seats together', 10, 66.34) }}
          {{ macros.ticketItem('section 105', 'level 500', 10, 46.34) }}
          {{ macros.ticketItem('Cat 2 - shortside', 'main stand', 10, 61.34) }}
        </ol>
      </div>
    </div>
    <div id="col-stadium" class="col-md-5 col-md-pull-7">
      <div class="box breath-md-top">
        <h2 class="text-primary">Estadio Vincente Calderon</h2>
        <div class="box-content"><a href="" data-toggle="modal" data-target="#modal-map"><img id="stadium-img" src="images/map-stadium.jpg" class="img-responsive center-block"></a></div>
      </div>
      <div class="box breath-md-top hidden-xs">
        <h3>What you need to know</h3>
        <ul class="box-list box-list--features">
          <li><i class="icon icon-checkmark"></i>Event times are subject to change - so please check @todo</li>
          <li><i class="icon icon-checkmark"></i>Your total includes local sales taxes @todo</li>
          <li><i class="icon icon-checkmark"></i>Sales are final</li>
          <li><i class="icon icon-checkmark"></i>No cancellations</li>
        </ul>
      </div>
      <div class="box breath-md-top hidden-xs">
        <h3>Having troubles? Call us</h3>
        <div class="row">
          <div class="col-sm-6 col-md-5">
            <div class="text-muted text-uppercase">UK Tel:</div><span class="highlight highlight-lg"><i class="icon icon-phone"></i>&nbsp; 0-871-284-5277</span>
          </div>
          <div class="col-sm-6 col-md-7">
            <div class="text-muted text-uppercase">Outside UK:</div>
            <div><a href="@todo" class="highlight highlight-md">sales@livefootballtickets.com</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {{ macros.box_ourDeliveryParteners() }}
    </div>
    <div class="col-sm-4">
      {{ macros.box_secureOnlineProcessing() }}
    </div>
    <div class="col-sm-4">
      {{ macros.box_paymentMethods() }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-push-6 breath-md-top">
      <div class="box">
        <h2>Upcoming Barcellona fixtures</h2>
        <ol class="event-list">
          {{ macros.eventItem('Mar', 9, 2015, 'FA Cup', 'Manchester United v Arsenal Tickets', '7.30 PM - Old Trafford - Manchester, United Kingdom', 'match.html') }}
          {{ macros.eventItem('Mar', 14, 2015, 'FA Cup', 'Arsenal v West Ham United Tickets', '7.30 PM - Emirates Stadium - London, United Kingdom', 'match.html') }}
          {{ macros.eventItem('Mar', 17, 2015, 'Champions League', 'AS Monaco v Arsenal Tickets', '7.30 PM - Louis II Stadium - Fontvieille, Monaco', 'match.html') }}
        </ol>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <div class="box breath-md-top">
        <h3 class="text-primary">Atletico Madrid v FC Barcellona Tickets</h3>
        <div class="box-content readmore">
          <p>Feel free to browse the FC Barcelona fixtures. We have FC Barcelona football tickets available for the Spanish La Liga: FC Barcelona vs Real Madrid tickets, FC Barcelona vs Valencia tickets, FC Barcelona vs Atletico Madrid tickets and other Barcelona tickets and La Liga tickets to watch football in Spain. Buy FC Barcelona tickets online through our safe and secure booking system. In addition, we have Arsenal tickets, Manchester United tickets, Liverpool tickets and Chelsea tickets available. All FC Barcelona ticket orders are guaranteed. Champions League Final tickets are selling fast.</p>
          <p>Feel free to browse the FC Barcelona fixtures. We have FC Barcelona football tickets available for the Spanish La Liga: FC Barcelona vs Real Madrid tickets, FC Barcelona vs Valencia tickets, FC Barcelona vs Atletico Madrid tickets and other Barcelona tickets and La Liga tickets to watch football in Spain. Buy FC Barcelona tickets online through our safe.</p>
        </div>
      </div>
      {{ macros.box_latestTransactions() }}
    </div>
  </div>
  {{ macros.block_introduction() }}
{% endblock %}
