{% extends 'layouts/default.njk' %}

{% block body_class %}page--news{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
  <div class="row page-news">
    <div class="col-md-9 col-md-push-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-content">
            <h3 class="text-primary">Football news</h3>
            {{ macros.pagination() }}
          </div>
          <ul class="news-overview">
            {{ macros.newsOverviewItem('Champions league tickets & results', 'Mon, 30 Mar 2015', 'CHAMPIONS LEAGUE 2015 ROUND OF 16 TICKETS, SCORES AND FIXTURES', 'With a 1-1 draw between titan clubs Paris Saint Germain and FC Chelsea in Paris, the UEFA Champions League has returned with four matches played to date in the eight two-leg Last 16 ties. Carlo Ancelotti’s Real Madrid got off to a winning start in the Europea...') }}
            {{ macros.newsOverviewItem('LIVERPOOL FC UPDATE: LIVERPOOL ALL STARS, FA CUP, PREMIERSHIP', 'Tue, 12 Apr 2015', 'Liverpool FC Update: Liverpool All Stars tickets, FA Cup tickets, Premiership tickets', "An amazing group of superstar football players including former Liverpool footballers is in the line-up for Liverpool’s Sunday's All Stars Charity Match at Anfield Road on March 19. The sides are captained by Liverpool’s Steven Gerrard and Jamie...") }}
            {{ macros.newsOverviewItem('Champions league tickets & results', 'Mon, 30 Mar 2015', 'CHAMPIONS LEAGUE 2015 ROUND OF 16 TICKETS, SCORES AND FIXTURES', 'With a 1-1 draw between titan clubs Paris Saint Germain and FC Chelsea in Paris, the UEFA Champions League has returned with four matches played to date in the eight two-leg Last 16 ties. Carlo Ancelotti’s Real Madrid got off to a winning start in the Europea...') }}
            {{ macros.newsOverviewItem('LIVERPOOL FC UPDATE: LIVERPOOL ALL STARS, FA CUP, PREMIERSHIP', 'Tue, 12 Apr 2015', 'Liverpool FC Update: Liverpool All Stars tickets, FA Cup tickets, Premiership tickets', "An amazing group of superstar football players including former Liverpool footballers is in the line-up for Liverpool’s Sunday's All Stars Charity Match at Anfield Road on March 19. The sides are captained by Liverpool’s Steven Gerrard and Jamie...") }}
            {{ macros.newsOverviewItem('Champions league tickets & results', 'Mon, 30 Mar 2015', 'CHAMPIONS LEAGUE 2015 ROUND OF 16 TICKETS, SCORES AND FIXTURES', 'With a 1-1 draw between titan clubs Paris Saint Germain and FC Chelsea in Paris, the UEFA Champions League has returned with four matches played to date in the eight two-leg Last 16 ties. Carlo Ancelotti’s Real Madrid got off to a winning start in the Europea...') }}
            {{ macros.newsOverviewItem('LIVERPOOL FC UPDATE: LIVERPOOL ALL STARS, FA CUP, PREMIERSHIP', 'Tue, 12 Apr 2015', 'Liverpool FC Update: Liverpool All Stars tickets, FA Cup tickets, Premiership tickets', "An amazing group of superstar football players including former Liverpool footballers is in the line-up for Liverpool’s Sunday's All Stars Charity Match at Anfield Road on March 19. The sides are captained by Liverpool’s Steven Gerrard and Jamie...") }}
          </ul>
          <div class="box box-content breath-md-top">
            {{ macros.pagination() }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-pull-9 sidebar">
      <div class="row">
        <div class="breath-md-top hidden-md hidden-lg"></div>
        <div class="col-xs-12 col-sm-6 col-md-12 hidden-xs">
          {{ macros.box_whyBookWithUs(false, false, true) }}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-12">
          {{ macros.box_sidebarListLinks('English Premiership', 'Clubs', 'club.html', ['Manchester City', 'Chelsea', 'Liverpool', 'Manchester United']) }}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-12">
          {{ macros.box_sidebarListLinks('Italian Seria A', 'Clubs', 'club.html', ['Juventus', 'Inter Milan', 'AC Milan', 'AS Roma']) }}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-12">
          {{ macros.box_sidebarListLinks('Other leagues', 'Leagues', 'league.html', ['Spanish primera division', 'Italian Serie A', 'German Bundesliga', 'French Ligue 1']) }}
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-xs hidden-sm breath-md-top">
    <div class="col-sm-6">
      {{ macros.box_socialFacebook() }}
    </div>
    <div class="col-sm-6">
      {{ macros.box_socialTwitter() }}
    </div>
  </div>
  {{ macros.block_introduction() }}
{% endblock %}

{% block footer_above %}
  {{ macros.newsletter() }}
{% endblock %}
