{% extends '../_base.njk' %}

{% block body %}

  <div id="fb-root"></div>

  {% block header %}
    <!-- section: header -->
    <div class="header">
      {% include 'layouts/partials/header-top.njk' %}
      <div class="header-middle">
        {% include 'layouts/partials/header-main.njk' %}
        {% include 'layouts/partials/header-navbar.njk' %}
      </div>
      {% block slider %}
        {% include 'layouts/partials/slider.njk' %}
      {% endblock %}
      {% include 'layouts/partials/header-info.njk' %}
    </div>
    <!-- endsection: header -->
  {% endblock %}

  {% block ie8_alert %}
  <!--[if lt IE 8]>
    <div class="alert alert-warning browserupgrade text-center"><p><small>You are using an <strong>outdated</strong> browser. Please <a class="text-danger" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</small></p></div>
  <![endif]-->
  {% endblock %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  {% block footer_above %}
  {% endblock %}

  {% block footer %}
    {% include 'layouts/partials/footer.njk' %}
  {% endblock %}

  {{ macros.modal_mobileWelcome() }}


{% endblock %}

{% block body_end %}
  {% include 'layouts/partials/notifications.njk' %}
{% endblock %}
