{% macro newsletter() %}
  <!-- macro: newsletter -->
  <div class="newsletter breath-md-top hidden-xs hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3 class="text-center text-primary">Get our ticket alert and be the first to know what's happening and when.</h3>
          <form action="" type="POST">
            <div class="input-group">
              <input placeholder="Enter your email" class="form-control input-lg"><span class="input-group-btn">
                <button class="btn btn-lg btn-success">Subscribe</button></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro breadcrumbs() %}
  <!-- macro: breadcrumbs -->
  <ol class="breadcrumb">
    <li><a href="">Home</a></li>
    <li><a href="league.html">Football leagues</a></li>
    <li><a href="league.html">Spanish la liga</a></li>
    <li class="active"><a href="club.html">FC Barcelona tickets</a></li>
  </ol>
  <!-- endmacro -->
{% endmacro %}

{% macro block_about() %}
  <!-- macro: block_about -->
  <h3>About LiveFootballTickets</h3>
  <p class="readmore about">Welcome to Live Football Tickets.com, world's premier website for football tickets. Browse our real time live football ticket inventory and buy football tickets for your favorite team or league including the English Premiership, Serie A, La Liga, FA Cup, Champions League Final tickets and more football tickets. Welcome to Live Football Tickets.com, world's premier website for football tickets. Browse our real time live football ticket inventory and buy football tickets for your favorite team or league including the English Premiership, Serie A, La Liga, FA Cup, Champions League Final tickets and more football tickets. Welcome to Live Football Tickets.com, world's premier website for football tickets. Browse our real time live football ticket inventory and buy football tickets for your favorite team or league including the English Premiership, Serie A, La Liga, FA Cup, Champions League Final tickets and more football tickets.</p>
  <!-- endmacro -->
{% endmacro %}

{% macro block_introduction() %}
  <!-- macro: block_introduction -->
  <div class="breath-md">
    <div class="readmore">
      <p>Welcome to Live Football Tickets.com, world's premier website for football tickets. Browse our real time live football ticket inventory and buy football tickets for your favorite team or league including the English Premiership, Serie A, La Liga, FA Cup, Champions League Final tickets and more football tickets.</p>
      <p>Buy football tickets for any fixture for the lowest available price. We have literally thousands of football tickets available here. Football is the biggest sport in the UK and throughout the world and it’s an absolute must for every football fan to see a live game with world’s biggest football stars.</p>
      <p>Never miss out on the football match of your favourite team ever again. Whether you are searching for England football tickets, English Premier League tickets, Scottisch PL tickets, Spanish La Liga tickets, Italian Serie A tickets, UEFA Champions League tickets, Europa League Final tickets or</p>
      <p>Welcome to Live Football Tickets.com, world's premier website for football tickets. Browse our real time live football ticket inventory and buy football tickets for your favorite team or league including the English Premiership, Serie A, La Liga, FA Cup, Champions League Final tickets and more football tickets.</p>
      <p>Buy football tickets for any fixture for the lowest available price. We have literally thousands of football tickets available here. Football is the biggest sport in the UK and throughout the world and it’s an absolute must for every football fan to see a live game with world’s biggest football stars.</p>
      <p>Never miss out on the football match of your favourite team ever again. Whether you are searching for England football tickets, English Premier League tickets, Scottisch PL tickets, Spanish La Liga tickets, Italian Serie A tickets, UEFA Champions League tickets, Europa League Final tickets or</p>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_whyBookWithUs(hideButton, hideTitle, redText) %}
  <!-- macro: box_whyBookWithUs -->
  <div id="why-book-with-us" class="box">
    {% if not hideTitle %}
      <h3 class="text-center text-primary">Why book with us?</h3>
    {% else %}
      <h3 class="text-center">Why book with us?</h3>
    {% endif %}
    <ul class="box-list box-list--features">
      <li><i class="icon icon-checkmark"></i>150% money-back guarantee</li>
      <li><i class="icon icon-checkmark"></i>Real-time inventory</li>
      <li><i class="icon icon-checkmark"></i>Friendly customer service</li>
      <li><i class="icon icon-checkmark"></i>Secure payment</li>
      <li><i class="icon icon-checkmark"></i>Last minute bookings</li>
      <li><i class="icon icon-checkmark"></i>7 years online serving fans</li>
    </ul>
    {% if not hideButton %}
      <div class="text-center breath-md-top hidden-sm">
        <a href="#" class="btn btn-lg btn-success">Learn more</a>
      </div>
    {% endif %}
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_sidebarListLinks(title, type, main_url, items) %}
  <!-- macro: box_sidebarListLinks -->
  {% set box_class = '' if type else 'box-secondary' %}
  <div class="box {{ box_class }}">
    <h3 class="text-primary">{{ title }}</h3>
    <ul class="box-list box-list--links">
      {% for item in items %}
        {% set hasImage = true if [0,1]|random == 1 else false %}
        <li>
          <a href="{{ main_url }}">
            {% if type and hasImage %}
              <img src="images/shirt-temp.png" height="45">
            {% else %}
              <img src="images/shirt-generic.png" height="45">
            {% endif %}
            <span>{{ item }} tickets</span>
          </a>
        </li>
      {% endfor %}
      {% if type %}
        <li>
          <a href="{{ main_url }}" class="more">More...</a>
        </li>
      {% endif %}
    </ul>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_latestTransactions() %}
  <!-- macro: box_latestTransactions -->
  <div class="box box-secondary breath-md-top">
    <h3>Latest transactions</h3>
    <ul class="box-list box-list--no-links">
      {{ transactionListItem('Henning L from Germany purchased 2 football tickets for English Premiership: Arsenal v Liverpool.', 'March 03, 2015') }}
      {{ transactionListItem('Giovani M from United Kingdom purchased 5 football tickets for Friendly: Brazil v Chile.', 'February 27, 2015') }}
      {{ transactionListItem('Cornelius H from Austria purchased 4 football tickets for English Premiership: Tottenham Hotspur v Aston Villa', 'February 05, 2015') }}
      {{ transactionListItem('Anders T from Norway purchased 2 football tickets for English Premiership: Arsenal v Liverpool.', 'January 14, 2015') }}
    </ul>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_latestFootballNews() %}
  <!-- macro: box_latestFootballNews -->
  <div class="box box-secondary breath-md-top">
    <h3>Latest football news</h3>
    <ul class="box-list box-list--news">
      {{ newsListItem('content.html', 'FA CUP TICKETS 2015: Liverpool, Manchester United, Arsenal', 'March 03, 2015') }}
      {{ newsListItem('content.html', 'Champions League Tickets & Results', 'March 03, 2015') }}
      {{ newsListItem('content.html', 'Capital One Cup Final 2015: Chelsea v Tottenham Hotspur', 'March 03, 2015') }}
      {{ newsListItem('content.html', 'Champions League Round of 16 Fixtures and Tickets', 'March 03, 2015') }}
      <li><a href="news.html" class="more clearfix">
          <button class="btn btn-default btn-md pull-right">More</button></a></li>
    </ul>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_socialFacebook() %}
  <!-- macro: box_socialFacebook -->
  <div class="box">
    <h3 class="text-primary">Facebook</h3>
    <div class="fb-page" data-href="http://www.facebook.com/LiveFootballTickets" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="http://www.facebook.com/LiveFootballTickets" class="fb-xfbml-parse-ignore" ><a href="http://www.facebook.com/LiveFootballTickets">LiveFootballTickets</a></blockquote></div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_socialTwitter() %}
  <!-- macro: box_socialTwitter -->
  <div class="box">
    <h3 class="text-primary">Twitter</h3><a data-dnt="true" height="210" data-chrome="nofooter" href="https://twitter.com/LiveFootballTix" data-widget-id="583250938510573568" class="twitter-timeline"></a>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_ourDeliveryParteners() %}
  <!-- macro: box_ourDeliveryParteners -->
  <div class="box only-images breath-md-top">
    <h3 class="text-primary">Our delivery partners</h3>
    <div class="box-content">
      <div class="row breath-md-top">
        <div class="col-xs-9 col-xs-offset-1"><img src="images/logo-fedex.png" class="img-responsive pull-left">
          <div class="clearfix breath-md-top"></div><img src="images/logo-royalmail.png" class="img-responsive pull-right">
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_secureOnlineProcessing() %}
  <!-- macro: box_secureOnlineProcessing -->
  <div class="box breath-md-top">
    <h3 class="text-center text-primary">Secure online processing</h3>
    <div class="box-content">
      <div class="row breath-md">
        <div class="col-xs-4"><a href="https://www.mcafeesecure.com/RatingVerify?ref=www.livefootballtickets.com" target="_blank"><img src="images/logo-mcafee.gif" alt="McAfee Secure sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" oncontextmenu="alert(&quot;Copying Prohibited by Law - McAfee Secure is a Trademark of McAfee, Inc.&quot;&quot;); return false;" class="img-responsive"></a></div>
        <div class="col-xs-8">HackerSafe Website Tested Daily (McAfee Secure)</div>
      </div>
      <div class="row breath-sm">
        <div class="col-xs-4"><a href="https://www.mcafeesecure.com/RatingVerify?ref=www.livefootballtickets.com" target="_blank"><img src="images/logo-geotrust.gif" class="img-responsive"></a></div>
        <div class="col-xs-8">Secure Sockets Layer (SSL) 256-Bit Encryption Protocol (GEO Trust)</div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_callUs() %}
    <!-- macro: box_callUs -->
  <div class="box breath-md-top">
    <h3>Having troubles? Call us</h3>
    <div class="highlight highlight-lg"><i class="icon icon-phone"></i>&nbsp; 0-871-284-5277</div>
    <div class="breath-md-top">
      <p class="highlight">Tel. hours:</p>
      <div>Mon - Fri (Some Saturdays)</div>
      <div>9am - 5pm GMT</div>
    </div>
    <div class="breath-md-top"><a href="@todo" class="highlight highlight-md">sales@livefootballtickets.com</a></div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro box_paymentMethods() %}
  <!-- macro: box_paymentMethods -->
  <div class="box only-images text-center breath-md-top">
    <h3 class="text-primary">Payment methods</h3>
    <div class="box-content">
      <div class="row breath-lg-top breath-sm-bottom">
        <div class="col-xs-12">
          <img src="images/payment-visa_electron.jpg" alt="Visa electron"><img src="images/payment-delta.jpg" alt="Delta"><img src="images/payment-visa.jpg" alt="Visa"><img src="images/payment-mastercard.jpg" alt="MasterCard">
          <div class="clearfix breath-sm"></div><img src="images/payment-verified_by_visa.jpg" alt="Verified by Visa"><img src="images/payment-mastercard_securecode.jpg" alt="MasterCard SecureCode">
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro teamItem(name, img) %}
  <!-- macro: teamItem -->
  <a href="club.html" class="col-xs-12 col-sm-6 col-md-4 team-list-item">
    <img src="images/shirt-temp.png" width="50" class="pull-left">
    <span>{{ name }}</span>
  </a>
  <!-- endmacro -->
{% endmacro %}

{% macro eventItem(month, day, year, type, name, info, url) %}
  <!-- macro: eventItem -->
  <li class="event-list-item">
    <div class="event-list-item-inner">
      <div class="event-date">
        <div class="event-date-inner">
          <div class="month">{{ month }}</div>
          <div class="day">{{ day }}</div>
          <div class="year">{{ year }}</div>
        </div>
      </div>
      <div class="event-info">
        <h5>{{ type }}</h5>
        <h4>{{ name }}</h4><span>{{ info|safe }}</span>
      </div>
      <div class="event-action hidden-xs"><a href="{{ url }}" class="btn btn-lg btn-success">View tickets</a></div>
    </div>
  </li>
  <!-- endmacro -->
{% endmacro %}

{% macro ticketItem(section, row, howmany, price) %}
  <!-- macro: ticketItem -->
  <li class="ticket-list-item">
    <div class="row">
      <div class="col-sm-6 ticket-list-item--left">
        <div data-toggle="tooltip" title="More info" data-placement="left" class="tip ticket-moreinfo">
          <!-- @pargat-5 put the remote url in the href -->
          <a href="robots.txt" data-modal="#modal-more-info" class="modal-remote"><i class="icon icon-info"></i><span class="visible-xs-inline">More info</span></a>
        </div>
        <div class="ticket-data">
          <div class="ticket-row">
            <div class="ticket-heading">Section</div><span class="ticket-info">{{ section }}</span>
          </div>
          <div class="ticket-row">
            <div class="ticket-heading">Row</div><span class="ticket-info">{{ row }}</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 ticket-list-item--right">
        <div class="ticket-action"><a href="purchase.html" class="btn btn-lg btn-success">Buy</a></div>
        <div class="ticket-price">
          <h4>&pound;<span>{{ price }}</span></h4>
          <h5>(&euro;<span>{{ price }}</span>)</h5>
        </div>
        <div class="ticket-quantity">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
    </div>
  </li>
  <!-- endmacro -->
{% endmacro %}

{% macro transactionListItem(title, date) %}
  <!-- macro: transactionListItem -->
  <li>
    <h4 class="news-title">{{ title }}</h4>
    <time class="news-date">{{ date }}</time>
  </li>
  <!-- endmacro -->
{% endmacro %}

{% macro newsListItem(url, title, date) %}
  <!-- macro: newsListItem -->
  <li>
    <a href="{{ url }}">
      <h4 class="news-title">{{ title }}</h4>
      <span class="news-date">posted on</span>
      <time class="news-date">{{ date }}</time>
    </a>
  </li>
  <!-- endmacro -->
{% endmacro %}

{% macro newsOverviewItem(title, date, contentStrong, content) %}
  <!-- macro: newsOverviewItem -->
  <li class="box box-content breath-md-top">
    <time class="news-date">{{ date }}</time>
    <h3 class="news-title">{{ title }}</h3>
    <p><strong>{{ contentStrong }}</strong> {{ content }} <a href="content.html" class="link-readmore">Read more</a></p>
  </li>
  <!-- endmacro -->
{% endmacro %}

{% macro pagination() %}
  <!-- macro: pagination -->
  <nav class="box-pagination">
    <ul class="pagination">
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>
  <!-- endmacro -->
{% endmacro %}

{% macro modal_mobileWelcome() %}
  <!-- macro: modal_mobileWelcome -->
  <div id="modal-welcome" tabindex="-1" role="dialog" aria-labelledby="welcomeModal" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-no-title">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <header class="text-center">
            <div class="text-uppercase">Welcome to</div><img src="images/logo.png" alt="" class="img-responsive center-block">
            <div class="modal-banner breath-md-top"><img src="images/hp-banner.jpg" alt="" class="img-responsive center-block"></div>
          </header>
          {{ box_whyBookWithUs(true, true) }}
          <div class="row text-center">
            <div class="col-xs-8 col-xs-offset-2">
              <button id="modal-welcome-btn-continue" type="button" data-dismiss="modal" aria-label="Continue" class="btn btn-lg btn-block btn-success">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro modal_whyBook() %}
  <!-- macro: modal_whyBook -->
  <div id="modal-why-book" tabindex="-1" role="dialog" aria-labelledby="whyBookModal" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-no-title">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          {{ box_whyBookWithUs(true) }}
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro modal_moreInfo() %}
  <!-- macro: modal_moreInfo -->
  <div id="modal-more-info" tabindex="-1" role="dialog" aria-labelledby="moreInfoModal" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-no-title">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-primary text-uppercase">More info</h4>
        </div>
        <div class="modal-body"><img src="images/ajax-loader.gif" width="32" height="32" class="modal-remote-loading"></div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro modal_map() %}
  <!-- macro: modal_map -->
  <div id="modal-map" tabindex="-1" role="dialog" aria-labelledby="mapModal" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-no-title modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body"><img src="images/map-stadium.jpg" class="img-responsive center-block"></div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro modal_cvv2() %}
  <!-- macro: modal_cvv2 -->
  <div id="modal-cvv2" tabindex="-1" role="dialog" aria-labelledby="cvv2Modal" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-no-title">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body"><img src="images/creditcard.gif" class="img-responsive center-block"></div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{% macro modal_terms() %}
  <!-- macro: modal_terms -->
  <div id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="termsModal" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
          <h4 class="text-primary text-uppercase">Terms and Conditions</h4>
        </div>
        <div class="modal-body">
          <img src="images/ajax-loader.gif" width="32" height="32" class="modal-remote-loading">
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}

{# {% macro modal_cancelOrder() %}
  <!-- macro: modal_cancelOrder -->
  <div id="modal-cvv2" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModal" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-no-title">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body"><img src="images/creditcard.gif" class="img-responsive center-block"></div>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %} #}
