<!-- partial: header_main -->
<header class="header-main">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"><a href="index.html" class="logo">
          <div class="logo-title text-hide"><img src="images/logo.png" alt="LiveFootballTickets: Reliable, secure, enjoy the match." class="logo-img img-responsive">LiveFootballTickets</div>
          <div class="logo-subtitle text-hide">Reliable, secure, enjoy the match.</div></a></div>
      <div class="col-sm-6 col-sm-offset-3">
        <div class="search">
          <h5 class="search-label hidden-xs">Find your football tickets here:</h5>
          <form action="/" type="POST"></form>
          <div class="input-group">
            <input id="search-main" name="" placeholder="Enter team, venue or city" class="form-control input-lg"><span class="input-group-btn">
              <button type="submit" class="btn btn-lg btn-primary"><i class="icon icon-search"></i><span class="hidden-xs">Search</span></button></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- endpartial: header_main -->
