<!-- partial: header_top -->
<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-7 col-sm-5">
        <div class="wrap wrap-verified"><img src="images/verified.png" alt="Verified by VISA, MasterCard SecureCode, McAfee Secure" width="135" class="img-responsive"></div>
        <div class="wrap wrap-mcafee"><a href="#"><img src="images/mcafee-secure.png" alt="McAfee Secure" class="img-responsive"></a></div>
        <div class="wrap wrap-fb">
          <div data-href="https://www.facebook.com/LiveFootballTickets" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" class="hidden-xs fb-like"></div>
        </div>
      </div>
      <div class="col-sm-7 hidden-xs contact-info"><span class="text-uppercase"><span class="text-primary">UK tel:</span> 0-871-284-5277 (outside UK?)</span><a href="content.html" class="faq-link">Customer Service & FAQs</a></div>
      <div class="col-xs-5 visible-xs-block text-uppercase contact-info">
        <div class="text-muted"><i class="icon icon-phone"></i> UK tel</div>
        <div class="telephone">0-871-284-5277</div>
      </div>
    </div>
  </div>
</div>
<!-- endpartial: header_top -->
