<!-- partial: header_info -->
<div class="header-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h4><i class="icon icon-checkmark"></i>In business<strong class="text-primary"> since 2004</strong></h4>
      </div>
      <div class="col-sm-4 col-md-3 hidden-xs hidden-sm">
        <h4><i class="icon icon-checkmark"></i><strong class="text-primary">150%</strong> money-back guarantee</h4>
      </div>
      <div class="col-sm-4 col-md-3 hidden-xs">
        <h4><i class="icon icon-checkmark"></i><strong class="text-primary">Secure</strong> payment</h4>
      </div>
      <div class="col-sm-4 col-md-3 hidden-xs">
        <h4><i class="icon icon-checkmark"></i><strong class="text-primary">Real-time</strong> inventory</h4>
      </div>
    </div>
  </div>
</div>
<!-- endpartial: header_info -->
