<div id="header-slider">
  <div id="header-slider-placeholder">
    <div class="stretcher">
      <div class="midpoint">
        <div class="midpoint-inner"><img src="images/ajax-loader.gif" width="32" height="32" class="loader"></div>
      </div>
    </div>
  </div>
  <div id="header-slider-main"><img src="images/hp2-manunited.jpg" alt=""><img src="images/hp2-chelsea.jpg" alt=""><img src="images/hp2-liverpool.jpg" alt=""><img src="images/hp2-arsenal.jpg" alt=""></div>
  <!-- Slider indicators -->
  <div id="header-slider-nav-wrap" class="hidden-xs hidden-sm">
    <div class="container">
      <ul id="header-slider-nav">
        <li data-idx="0" class="active"><a href="club.html" class="slider-nav-link">
            <div class="slider-nav-inner">
              <div class="triangle"></div>
              <h4>Manchester United</h4>
              <h5>Tickets</h5>
            </div></a></li>
        <li data-idx="1"><a href="club.html" class="slider-nav-link">
            <div class="slider-nav-inner">
              <div class="triangle"></div>
              <h4>Chelsea</h4>
              <h5>Tickets</h5>
            </div></a></li>
        <li data-idx="2"><a href="club.html" class="slider-nav-link">
            <div class="slider-nav-inner">
              <div class="triangle"></div>
              <h4>Liverpool</h4>
              <h5>Tickets</h5>
            </div></a></li>
        <li data-idx="3"><a href="club.html" class="slider-nav-link">
            <div class="slider-nav-inner">
              <div class="triangle"></div>
              <h4>Arsenal</h4>
              <h5>Tickets</h5>
            </div></a></li>
      </ul>
    </div>
  </div>
</div>
