{# use .carousel-fade for fade animation instead of sliding #}
<div id="header-slider-main" class="carousel slide">
  <div id="header-slider-nav-wrap" class="hidden-xs hidden-sm">
    <div class="container">
      {# Indicators #}
      <ul id="header-slider-nav">
        <li data-slide-to="0" class="active"><a href="#" class="slider-nav-link">
            <div class="slider-nav-inner">
              <div class="triangle"></div>
              <h4>Manchester United</h4>
              <h5>Tickets</h5>
            </div></a></li>
        <li data-slide-to="1"><a href="#" class="slider-nav-link">
            <div class="slider-nav-inner">
              <div class="triangle"></div>
              <h4>Chelsea</h4>
              <h5>Tickets</h5>
            </div></a></li>
        <li data-slide-to="2"><a href="#" class="slider-nav-link">
            <div class="slider-nav-inner">
              <div class="triangle"></div>
              <h4>Liverpool</h4>
              <h5>Tickets</h5>
            </div></a></li>
        <li data-slide-to="3"><a href="#" class="slider-nav-link">
            <div class="slider-nav-inner">
              <div class="triangle"></div>
              <h4>Arsenal</h4>
              <h5>Tickets</h5>
            </div></a></li>
      </ul>
    </div>
  </div>
  {# Wrapper for slides #}
  <div role="listbox" class="carousel-inner">
    <div class="item active"><img src="images/header-slider-manchester_united-temp.jpg" alt="" class="fullwidth"></div>
    <div class="item"><img src="images/header-slider-chelsea-temp.jpg" alt="" class="fullwidth"></div>
    <div class="item"><img src="images/header-slider-liverpool-temp.jpg" alt="" class="fullwidth"></div>
    <div class="item"><img src="images/header-slider-arsenal-temp.jpg" alt="" class="fullwidth"></div>
  </div>
</div>
